# user-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
_releases/

# Visual Studio cache/options
.vs/


/.idea
/*/bin
/*/obj
*.ps1
/dist
release.ps1
decompiler/
decompilecodes/
StardewMemes/
## To Comatiblide mods
unlockable-bundles-main